apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: portal-glow
  namespace: argocd
  annotations:
      release.tag: "2953a1c_21622528473"
spec:
  project: default
  source:
    repoURL: https://github.com/vkirankumar/portal-glow-mock-helm
    targetRevision: HEAD
    path: .
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/template/metadata/annotations/release.tag
